{% load static %}

<section class="slider-section mb-4">
            <div class="first-slider p-0">

                <div class="banner-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="position-relative">
                            <div class="position-absolute top-50 slider-content translate-middle">
                                <h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
                                <h1 class="h1 fw-bold">Women Fashion</h1>
                                <p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
                                <div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
                                </div>
                            </div>
                            <a href="javascript:;">
                                <img src="{% static 'assets/images/banners/01.png' %}" class="img-fluid" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="position-relative">
                            <div class="position-absolute top-50 slider-content translate-middle">
                                <h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
                                <h1 class="h1 fw-bold">Men Fashion</h1>
                                <p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
                                <div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
                                </div>
                            </div>
                            <a href="javascript:;">
                                <img src="{% static 'assets/images/banners/02.png' %}" class="img-fluid" alt="...">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="position-relative">
                            <div class="position-absolute top-50 slider-content translate-middle">
                                <h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
                                <h1 class="h1 fw-bold">Kids Fashion</h1>
                                <p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
                                <div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
                                </div>
                            </div>
                            <a href="javascript:;">
                                <img src="{% static 'assets/images/banners/04.png' %}" class="img-fluid" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
    </section>